body {
    scroll-behavior: smooth; 
  }

.logged_page{
    width: 100vw;
    overflow-x: hidden;
    background-color: #fff;
    overflow-x: hidden;
}

/* Inicial Image */

.image-container {
    width: 100vw;
    height: 48rem ;
    background-image: url('../assets/image_container_logged_page.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 13.75rem;
    padding-right: 13.5625rem;
    padding-top: 6.8rem;
    flex-wrap: wrap;
}

.image-container > div {
    height: 9.37rem ;
    width: 46.25rem;
    font-family: Poppins;
    font-size: 3.125rem;
    font-weight: 600;
    line-height: 4.6875rem;
    text-align: left;
    color:  #3C3C3C;
    flex-wrap: wrap;

}

/* Service Container */

.services-container{
    width: 100vw ;
    padding-left: 13.75rem;
    padding-right: 13.5625rem;
    padding-top: 4.93rem;
    
}

.services-container > span{
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 3.375rem;
    color: #343434;

}

.services{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 17rem;
    margin-top: 1.37rem;
    flex-wrap: wrap;
}

.services > .service-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services > .service-card > img{
    height: 15.37rem ;
    width: 15.37rem;
    border-radius: 50%;
    object-fit: cover;
}

.services > .service-card > .services-card-title{
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8125rem;
    text-align: left;
    color: #343434;

}

.services > .service-card > .services-card-offer{
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.1875rem;
    text-align: left;
    color: #848383;

}


/* Appartaments Container */


.appartaments-container {
    /*height: 55.2rem ; */
    width: 100vw ;
    padding-left: 13.75rem;
    padding-right: 13.5625rem;
    padding-bottom: 9.8rem;
    
}

.appartaments-container > span{
    font-family: Poppins;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 3.38rem;
    text-align: left;
    color: #343434;
}


.appartaments-container > #appartament-cards-container {

    display: flex;
    justify-content:start;
    flex-wrap: wrap;
    flex-direction: row ;
    gap: 2.43rem;
    margin-top: 1.56rem;
    
}

.appartaments-container > #appartament-cards-container > .appartament-card {

    display: flex;
    justify-content:start;
    flex-wrap: wrap;
    flex-direction: column ;
    gap: 1rem;
    
}

.appartament-card > img{
    height: 12.31rem ;
    width: 18.25rem ;
    border-radius: 0.75rem;
    
}

 .appartament-card > .appartament-card-price {
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.25rem;
    text-align: left;
    color: #343434;

}

.appartament-card > .appartament-card-dimensions {
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
    text-align: left;
    color: #848383;

}

 .appartament-card > .appartament-card-specifics {
    display: flex;
    flex-direction: row;
    gap: 1.56rem;

}

 .appartament-card-specifics >.appartament-card-specifics-information  {

    background-color: #FE8100;
    color: #E9ECF2;
    font-family: Inter;
    font-size: 0.93rem;
    font-weight: 400;
    line-height: 1.13rem;
    text-align: left;
    padding-top: 0.31rem ;
    padding-bottom:  0.31rem;
    padding-left: 0.37rem ;
    padding-right: 0.37rem ;
    border-radius: 0.5rem;

}


/* Footer */

footer {
    height: 17.3rem ;
    width: 100vw ;
    background-color: #1e1e1e ;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    padding-left: 13.75rem;
    padding-right: 13.5625rem;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.1875rem;
    text-align: left;
    color: #E9ECF2;
    padding-bottom: 3.43rem ;

}

#contact-information-container{
    width: 13.18rem;
    height: 11rem;
    display: flex;
    flex-direction: column;
}

#contact-information-container > :first-child{
    color: #FE8100;
    margin-bottom: 1.81rem ;
}

#contact-information-container > span{
    margin-bottom: 0.87rem;
}

#contact-socal-media-iconsbuttons{
    margin-top: 3.25rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: end;
}

#facebook-icon,#instagram-icon ,#youtube-icon, #twitter-icon {
    cursor: pointer;
}


#page-button{
    height: 3.75rem  ;
    width: 3.75rem ;
    border-radius: 50%;
    background-color: #E9ECF2;
}

/* Modal */

#modal-bottom{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #343434;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 98%;
}

#modal-container{
    background-color: #fff;
    position: absolute;
    opacity: 100%;
    padding-top: 3.43rem;
    padding-bottom: 3.43rem ;
    padding-left: 3.43rem ;
    padding-right: 3.43rem;
    border-radius: 1rem;
}

#modal-container > #modal-image{
    height: 39.56rem;
    width: 61.31rem  ;
    opacity: 100%;
    border-radius: 0.75rem;
}

#modal-items{
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 2.37rem;
}


#modal-items > #modal-room,#modal-bathroom{
    width: 14.56rem;
    height: 4rem;
    background-color: #E9ECF2;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
    text-align: left;
    color: #000;
    padding-left: 3.5rem ;
    padding-right: 1rem ;
    padding-top: 0.93rem ;
    padding-bottom: 0.93rem ;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 0.75rem;
}

#modal-room,#modal-bathroom > span {
    
}

#modal-items > #modal-dimensions{
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
    text-align: left;
    color:  #848383;

}

#modal-items-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

#modal-items-2 > #modal-price{
    height: 3.75rem;
    width: 14.62rem ;
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.75rem;
    text-align: left;
    margin-bottom: 1.12rem;

}

#modal-items-2 > #button-purchase{
    height: 4.25rem;
    width: 14.37rem ;
    background-color: #FE8100;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.25rem;
    text-align: left;
    color:  #FFFFFF;
    padding-left: 3.8rem ;
    padding-right: 4.2rem ;
    padding-top: 0.93rem ;
    padding-bottom: 0.93rem ;
    border-radius: 0.75rem;


}

#close-modal {

    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

